<header th:fragment="header" class="p-3 mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                <img src="/logo.svg" alt="logo" height="40">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 ms-3 justify-content-center mb-md-0">
                <li><a href="/courses" class="nav-link px-2 link-dark">Kurse</a></li>
                <li><a href="/timetable" class="nav-link px-2 link-dark">Terminkalender</a></li>
                <li><a href="/chat" class="nav-link px-2 link-dark"><span class="position-relative">
                    Chat
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        42
                    </span>
                </span></a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control" placeholder="Suche..." aria-label="Search">
            </form>

            <div class="me-4">
                <button class="text-decoration-none link-dark position-relative btn btn-link p-0" id="notificationBtn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-bell" viewBox="0 0 16 16">
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                    </svg>
                    <span class="d-none position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                          id="notificationCountBadge">
                        0
                    </span>
                </button>
            </div>

            <div class="dropdown text-end">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <img th:src="'/profile_pictures/'+${person.getTumId()}+'.png?'+${#dates.format(#dates.createNow(), 'ss')}"
                         alt="" class="rounded-circle"
                         width="32" height="32" style="object-fit: cover">
                </a>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" href="/profile">Mein Profil</a></li>
                    <li><a class="dropdown-item" href="/friends">Freunde</a></li>
                    <li><a class="dropdown-item" href="#">Einstellungen</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/logout">Abmelden</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>