<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chat - Tum Social</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>

<div th:replace="fragments/notificationSidebar :: notificationSidebar"></div>

<div id="outDiv" class="collapse opacity-50 bg-dark w-100 h-100 position-absolute top-0 start-0"
     style="z-index: 10000"></div>

<div class="vh-100">
    <header th:replace="fragments/header :: header"></header>

    <div class="container mb-3" style="height: 70vh;">
        <div class="row h-100">
            <div class="col-md-3 h-100">
                <div class="card h-100">
                    <div class="card-header">
                        Chats
                    </div>

                    <div class="list-group overflow-scroll" id="chats" th:tumid="${currentTumId}">

                        <a th:each="c: ${currentChats}" th:href="'/chat/'+${c.tumId}" th:data-tumid="${c.tumId}"
                           class="list-group-item list-group-item-action rounded-0 border-0 border-bottom"
                           aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">
                                    <div class="d-flex">
                                        <div class="align-self-center">
                                            <img th:src="'/profile_pictures/'+${c.tumId}+'.png?'+${#dates.format(#dates.createNow(), 'ss')}"
                                                 alt="" class="rounded-circle"
                                                 width="32" height="32" style="object-fit: cover">
                                        </div>
                                        <div class="align-self-center p-1" th:text="${c.name}"></div>
                                    </div>
                                </h5>
                            </div>
                            <small class="text-muted" th:text="${c.time}"></small>
                        </a>

                    </div>
                </div>
            </div>

            <div class="col-md-9 ps-1 h-100">
                <div class="card h-100">
                    <div class="card-header">
                        <div class="d-flex">
                            <div class="align-self-center">
                                <img th:src="'/profile_pictures/'+${currentTumId}+'.png?'+${#dates.format(#dates.createNow(), 'ss')}"
                                     alt="" class="rounded-circle"
                                     width="48" height="48" style="object-fit: cover">
                            </div>

                            <div class="align-self-center p-3" th:text="${currentName}"></div>
                        </div>
                    </div>

                    <div class="card-body overflow-auto h-100" id="chatMessages"></div>

                    <div class="card-footer">
                        <div class="input-group">
                            <input type="text" class="form-control" id="messageInput"
                                   placeholder="Bereichere jemanden mit deinen Worten!">
                            <button class="btn btn-primary" type="button" id="messageSendBtn">Senden</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</div>

<div th:replace="fragments/jsImports :: jsImports"></div>

<script src="/js/chat.js"></script>

</body>
</html>
