<!doctype html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="'Kurs '+${course.getAcronym()}+' - Tum Social'"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>

<header th:replace="fragments/header :: header"></header>

<div th:replace="fragments/notificationSidebar :: notificationSidebar"></div>

<div id="outDiv" class="collapse opacity-50 bg-dark w-100 h-100 position-absolute top-0 start-0"
     style="z-index: 10000"></div>

<div class="container">
    <h4 class="text-right display-4 mb-4" th:text="${course.getName()}"></h4>

    <div class="row">
        <div class="col-lg-3">
            <div class="card mb-3">
                <div class="card-header">Beschreibung</div>
                <div class="card-body">
                    <p th:text="${course.getDescription()}"></p>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header">
                    Termine
                </div>

                <ul class="list-group list-group-flush">
                    <li th:each="appointment: ${course.getAppointments()}" class="list-group-item">
                        <span th:text="${#temporals.format(appointment.getStartDate(), 'EEE')}+' '+${appointment.getStartTime()}+' - '+${appointment.getEndTime()}"></span>
                    </li>
                </ul>

                <a href="/timetable" class="stretched-link"></a>
            </div>

            <button th:if="${course.getAdmin().getId() == person.getId()}" class="btn btn-primary w-100 mb-3"
                    data-bs-toggle="modal" data-bs-target="#updateCourseDatesModal">
                Termine bearbeiten
            </button>

            <div class="modal fade modal-lg" id="updateCourseDatesModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form>
                            <div class="modal-header">
                                <h5 class="modal-title">Kurs Termine</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Erstes Datum</th>
                                        <th scope="col">Zeit</th>
                                        <th scope="col">Wiederholungen</th>
                                        <th scope="col">#</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="appointment: ${course.getAppointments()}">
                                        <td th:text="${#temporals.format(appointment.getStartDate(), 'dd.MM.YYYY')}"></td>
                                        <td th:text="${#temporals.format(appointment.getStartDate(), 'EEE')}+' '+${appointment.getStartTime()}+' - '+${appointment.getEndTime()}"></td>
                                        <td th:text="${appointment.getRepetitions()}"></td>
                                        <td>
                                            <a href="#" data-bs-toggle="modal"
                                               data-bs-target="#changeDateModal"
                                               th:attr="data-bs-appointment-id=${appointment.getId()},
                                                        data-bs-name=${appointment.getName()},
                                                        data-bs-description=${appointment.getDescription()},
                                                        data-bs-startdate=${appointment.getStartDate()},
                                                        data-bs-starttime=${appointment.getStartTime()},
                                                        data-bs-endtime=${appointment.getEndTime()},
                                                        data-bs-repetitions=${appointment.getRepetitions()},
                                                        data-bs-address=${appointment.getAddress()},
                                                        data-bs-roomname=${appointment.getRoomName()},
                                                        data-bs-course=${course.getId()}">bearbeiten</a>
                                            <a href="#" class="link-danger" data-bs-toggle="modal"
                                               data-bs-target="#deleteAppointmentModal" th:attr="data-bs-appointment-id=${appointment.getId()},
                                                                                                 data-bs-course=${course.getId()}">löschen</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen
                                </button>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#newDateModal" th:attr="data-bs-course=${course.getId()}">Neuer
                                    Termin
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header">Mitglieder</div>
                <ul class="card-body list-group list-group-flush p-0 overflow-auto" style="max-height: 20em;">
                    <li th:each="participant: ${course.getParticipants()}" class="list-group-item">
                        <img th:src="'/profile_pictures/'+${participant.getTumId()}+'.png?'+${#dates.format(#dates.createNow(), 'ss')}"
                             alt="" class="rounded-circle float-start me-2" width="27" height="27"
                             style="object-fit: cover">
                        <span th:text="${participant.getFirstname()}+' '+${participant.getLastname()}"></span>
                    </li>
                </ul>
            </div>

            <form th:if="${person.getCourses().contains(course)}" th:action="'/leaveCourse/'+${course.getId()}"
                  method="post">
                <button type="button" class="btn btn-danger w-100 mb-3" data-bs-toggle="modal"
                        data-bs-target="#leaveCourseModal">
                    Kurs verlassen
                </button>
                <div class="modal fade" id="leaveCourseModal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Kurs wirklich verlassen?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen
                                </button>
                                <button type="submit" class="btn btn-danger">Kurs verlassen</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <form th:if="${!person.getCourses().contains(course)}" th:action="'/joinCourse/'+${course.getId()}"
                  method="post">
                <button type="submit" class="btn btn-primary w-100 mb-3">Kurs hinzufügen</button>
            </form>

            <div class="row">
                <div class="col-6">
                    <form th:if="${person.getId() == course.getAdmin().getId()}"
                          th:action="'/deleteCourse/'+${course.getId()}" method="post">
                        <button type="button" class="btn btn-danger w-100 mb-3" data-bs-toggle="modal"
                                data-bs-target="#deleteCourseModal">
                            Kurs löschen
                        </button>
                        <div class="modal fade" id="deleteCourseModal" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Kurs wirklich löschen?</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Abbrechen
                                        </button>
                                        <button type="submit" class="btn btn-danger">Kurs löschen</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-6">
                    <form th:if="${person.getId() == course.getAdmin().getId()}"
                          th:action="'/updateCourse/'+${course.getId()}" method="post">
                        <button type="button" class="btn btn-primary w-100 mb-3" data-bs-toggle="modal"
                                data-bs-target="#editCourseModal">
                            bearbeiten
                        </button>
                        <div class="modal fade" id="editCourseModal" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Kurs bearbeiten</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <label for="nameLabel" class="form-label">Name</label>
                                            <input type="text" class="form-control" id="nameLabel" name="name"
                                                   placeholder="z.B. Einführung in die Softwaretechnik" required
                                                   th:value="${course.getName()}">
                                        </div>
                                        <div class="mb-3">
                                            <label for="acronymLabel" class="form-label">Acronym</label>
                                            <input type="text" class="form-control" id="acronymLabel" name="acronym"
                                                   placeholder="z.B. EIST" required
                                                   th:value="${course.getAcronym()}">
                                        </div>
                                        <div class="mb-3">
                                            <label for="descriptionLabel" class="form-label">Beschreibung</label>
                                            <textarea class="form-control" id="descriptionLabel" rows="3"
                                                      name="description" required
                                                      th:text="${course.getDescription()}"></textarea>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Abbrechen
                                        </button>
                                        <button type="submit" class="btn btn-primary">speichern</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-9">
            <h5 class="display-6 mb-3">Ankündigungen</h5>

            <p th:if="${announcements.isEmpty()}">Noch keine Ankündigungen!</p>

            <div th:each="a: ${announcements}" class="card mb-3">
                <form th:action="'/deleteAnnouncement/'+${a.getId()}" method="post">
                    <input type="hidden" name="courseId" th:value="${course.getId()}">
                    <div class="card-header clearfix">
                        <h5 th:text="${a.getTitle()}" class="float-start"></h5>
                        <small class="float-start ms-3 text-muted lh-lg" th:text="${a.getFormattedTimestamp()}"></small>
                        <button type="submit" class="btn btn-sm btn-danger float-end"
                                th:if="${course.getAdmin().getId() == person.getId()}">
                            Löschen
                        </button>
                    </div>
                </form>
                <div class="card-body" th:with="comments = ${a.getComments()}">
                    <p class="mb-3">
                        <span th:text="${a.getDescription()}"></span>
                        <br>
                        <a data-bs-toggle="collapse" th:href="'#newRootComment'+${a.getId()}" aria-expanded="false"
                           class="text-decoration-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-reply" viewBox="0 0 16 16">
                                <path d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.499.499 0 0 0 .042-.028l3.984-2.933zM7.8 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z"/>
                            </svg>
                            Antworten
                        </a>
                        &nbsp;&nbsp;
                        <a data-bs-toggle="collapse" th:href="'#rootComments'+${a.getId()}" aria-expanded="false"
                           th:if="${!a.getComments().isEmpty()}"
                           th:text="${a.getComments().size()}+' Kommentare anzeigen'"
                           class="text-decoration-none"></a>
                    </p>

                    <form class="collapse" th:id="'newRootComment'+${a.getId()}"
                          th:action="'/addRootComment/'+${a.getId()}" method="post">
                        <input type="hidden" name="courseId" th:value="${course.getId()}">
                        <div class="mb-3 row">
                            <div class="col-10">
                                <textarea name="text" class="form-control" rows="1"
                                          placeholder="Neuer Kommentar"></textarea>
                            </div>
                            <div class="col-2">
                                <button type="submit" class="btn btn-primary">Senden</button>
                            </div>
                        </div>
                    </form>

                    <div th:if="${!a.getComments().isEmpty()}" class="collapse" th:id="'rootComments'+${a.getId()}">
                        <section th:include="fragments/commentSection :: commentSection"
                                 th:with="comments=${a.getComments()}"></section>
                    </div>
                </div>
            </div>

            <form th:if="${course.getAdmin().getId() == person.getId()}"
                  th:action="'/addAnnouncement/'+${course.getId()}"
                  method="post" class="card card-body">
                <h5>Neue Ankündigung</h5>
                <div class="mb-3">
                    <label class="form-label">Titel</label>
                    <input type="text" class="form-control" name="title">
                </div>
                <div class="mb-3">
                    <label class="form-label">Text</label>
                    <textarea class="form-control" name="text" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Speichern</button>
            </form>
        </div>
    </div>

</div>

<div th:replace="fragments/appointmentModals :: appointmentModals"></div>

<div th:replace="fragments/footer :: footer"></div>

<div th:replace="fragments/jsImports :: jsImports"></div>

<script src="/js/appointmentModals.js"></script>

</body>
</html>

