<!doctype html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mein Profil - Tum Social</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>

<header th:replace="fragments/header :: header"></header>

<div th:replace="fragments/notificationSidebar :: notificationSidebar"></div>

<div id="outDiv" class="collapse opacity-50 bg-dark w-100 h-100 position-absolute top-0 start-0" style="z-index: 10000"></div>

<div class="container">
    <div class="row">
        <div class="col-md-4 mt-5">
            <div class="d-flex flex-column align-items-center text-center px-3 pt-5">
                <img th:src="'/profile_pictures/'+${person.getTumId()}+'.png?'+${#dates.format(#dates.createNow(), 'ssSS')}"
                     class="rounded-circle mt-5 mb-3" width="150px" height="150px" alt="Profilbild"
                     style="object-fit: cover">
                <span th:text="${person.getFirstname()}+' '+${person.getLastname()}" class="font-weight-bold"></span>
                <span th:text="${person.getTumId()}" class="text-black-50"></span>
            </div>

            <div class="align-items-center text-center mt-3">
                <form id="profilePictureForm" action="/setProfilePicture" method="post" enctype="multipart/form-data">
                    <button class="btn btn-sm btn-primary" type="button" id="profilePictureInputButton">
                        Profilbild ändern
                    </button>
                    <input type="file" class="d-none" id="profilePictureInput" name="profilePicture">
                </form>
            </div>
        </div>
        <div class="col-md-8">
            <div class="p-3 py-3">
                <form action="/updateProfile" method="post">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right display-4">Mein Profil</h4>
                    </div>

                    <div class="row mt-2">
                        <div class="col-md-6">
                            <label for="firstname" class="form-label">Vorname</label>
                            <input name="firstname" type="text" class="form-control" id="firstname"
                                   th:value="${person.getFirstname()}"
                                   required>
                        </div>
                        <div class="col-md-6">
                            <label for="lastname" class="form-label">Nachname</label>
                            <input name="lastname" type="text" class="form-control" id="lastname"
                                   th:value="${person.getLastname()}"
                                   required>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label for="email" class="form-label">E-Mail</label>
                            <input name="email" type="email" class="form-control" id="email"
                                   th:value="${person.getEmail()}"
                                   placeholder="go42tum@mytum.de" required>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label for="degreeProgram" class="form-label">Studiengang</label>
                            <input name="degreeProgramName" class="form-control" list="degreeProgramOptions"
                                   id="degreeProgram"
                                   placeholder="Suchen..."
                                   th:value="${person.getDegreeProgram() != null}?${person.getDegreeProgram().getName()}">
                            <datalist id="degreeProgramOptions">
                                <option th:each="degreeProgram: ${degreePrograms}"
                                        th:value="${degreeProgram.getName()}">
                            </datalist>
                        </div>
                        <div class="col-md-6">
                            <label for="semesterNr" class="form-label">Semester</label>
                            <input name="semesterNr" type="number" id="semesterNr" class="form-control"
                                   th:value="${person.getSemesterNr()}" required min="1" max="20">
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label for="birthdate" class="form-label">Geburtsdatum</label>
                            <input name="birthdate" type="date" id="birthdate" class="form-control"
                                   th:value="${person.getBirthdate() != null}?${#temporals.format(person.getBirthdate(), 'yyyy-MM-dd')}">
                        </div>
                    </div>

                    <div class="mt-3 text-center">
                        <button class="btn btn-primary w-100" type="submit">Speichern</button>
                    </div>
                </form>
            </div>

            <div class="p-3 py-3">
                <p class="display-6">Passwort ändern</p>
                <form action="/changePassword" method="post" class="checkSecondPasswordForm">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <label for="password" class="form-label">Passwort</label>
                            <input type="password" class="form-control" id="password" placeholder="Passwort"
                                   name="password" required>
                        </div>
                        <div class="col-6">
                            <label for="password2" class="form-label">Passwort wiederholen</label>
                            <input type="password" class="form-control" id="password2" placeholder="Passwort"
                                   name="password2" required data-bs-container="body" data-bs-placement="top"
                                   data-bs-content="Passwörter müssen übereinstimmen!">
                        </div>
                        <div class="col-12 mt-3">
                            <button type="submit" class="w-100 btn btn-primary">Speichern</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="p-3 py-3 mb-4">
                <p class="display-6">Profil löschen</p>
                <div>
                    <button class="btn btn-sm btn-danger" type="button" data-bs-toggle="modal"
                            data-bs-target="#deleteProfileModal">
                        Profil löschen
                    </button>
                </div>
                <div class="modal fade" id="deleteProfileModal" tabindex="-1" aria-labelledby="deleteProfileModal"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    Willst du dein Profil wirklich löschen?
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Tschüss!
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                    Abbrechen
                                </button>
                                <form action="/deleteProfile" method="post">
                                    <input type="hidden" name="deleteProfile" th:value="${person.getTumId()}">
                                    <button type="submit" class="btn btn-danger">Löschen</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<div th:replace="fragments/jsImports :: jsImports"></div>

<script src="/js/checkSecondPassword.js"></script>

<script>
    let profilePictureForm = $('#profilePictureForm');
    $('#profilePictureInputButton').on('click', () => {
        $('#profilePictureInput').click();
    });

    $('#profilePictureInput').on("change", () => {
        profilePictureForm.submit();
    });
</script>

</body>
</html>
