<!doctype html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tum Social</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>

<header th:replace="fragments/header :: header"></header>

<div class="container">
    <h4 class="text-right display-4 mb-4 float-start">Terminkalender</h4>

    <div class="btn-toolbar float-end mt-3" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group" aria-label="First group">
            <a th:href="'/timetable?startDate='+${previousDate}" type="button" class="btn btn-outline-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                </svg>
            </a>
            <button type="button" disabled class="btn btn-outline-secondary"
                    th:text="${#temporals.format(startDate, 'dd.MM.YYYY')}+' - '+${#temporals.format(endDate, 'dd.MM.YYYY')}"></button>
            <a th:href="'/timetable?startDate='+${nextDate}" type="button" class="btn btn-outline-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
            </a>
        </div>
    </div>

    <button type="button" class="btn btn-outline-primary float-end mt-3 me-2" data-bs-toggle="modal"
            data-bs-target="#newDateModal">
        Neuer Termin
    </button>

    <div class="clearfix"></div>

    <div class="row mb-4" th:style="'height: '+${(endTime - startTime + 2) * 2.5 + 2}+'em'">
        <div class="col-1 position-relative">
            <div class="position-absolute border-bottom w-100 text-center p-1" style="height: 4em">
                <br><span class="lead">Zeit</span>
            </div>

            <div th:each="i: ${#numbers.sequence(0, endTime - startTime)}"
                 class="position-absolute bg border-bottom w-100 text-center p-2"
                 th:style="'height: 2.5em; top:'+${(i + 1) * 2.5 + 1.5}+'em;'"
                 th:text="${i + startTime <= -1 || i + startTime >= 24}?'lul u hacker':${#numbers.formatInteger(i + startTime, 2)}+':00'"></div>
        </div>
        <div th:each="day, i: ${daysOfWeek}" class="col position-relative">
            <div class="position-absolute border-bottom border-start-0 w-100 text-center p-1" style="height: 4em">
                <span class="fs-6" th:text="${#temporals.format(startDate.plusDays(i.index), 'dd.MM.YYYY')}"></span>
                <br>
                <span class="lead" th:text="${day}"></span>
            </div>

            <div th:each="i: ${#numbers.sequence(0, endTime - startTime)}" class="position-absolute border-bottom w-100"
                 th:style="'height: 2.5em; top:'+${(i + 1) * 2.5 + 1.5}+'em;'"></div>

            <div class="px-1 position-absolute w-100" th:each="appointment: ${mappedAppointments.get(day)}"
                 th:style="'top: '+${((appointment.getStartTime().getHour() - startTime + 1) + appointment.getStartTime().getMinute() / 60.0) * 2.5 + 1.5}+'em; height: '+
                                   ${(appointment.getDurationInHours()) * 2.5}+'em;'">
                <div class="w-100 border rounded bg-light overflow-hidden p-1 h-100">
                    <span class="fw-bold" th:text="${appointment.getName()}"></span>
                    <span th:text="${appointment.getStartTime()}+' - '+${appointment.getEndTime()}"></span>

                    <a type="button" class="stretched-link showDateBtn" data-bs-toggle="modal"
                       th:data-bs-target="'#timeslotModal'+${appointment.getId()}"></a>

                    <div th:class="${appointment.getAddress() == '' && appointment.getRoomName() == ''}?'modal fade':'modal fade modal-lg'"
                         th:id="'timeslotModal'+${appointment.getId()}" tabindex="-1"
                         th:aria-labelledby="'timeslotModalLabel'+${appointment.getId()}"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"
                                        th:aria-labelledby="'timeslotModalLabel'+${appointment.getId()}">Termin</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body row">
                                    <div th:class="${appointment.getAddress() == '' && appointment.getRoomName() == ''}?'':'col-4'">
                                        <div class="mb-3">
                                            <p><span class="fw-bold">Name</span><br><span
                                                    th:text="${appointment.getName()}"></span></p>
                                        </div>
                                        <div class="mb-3">
                                            <p><span class="fw-bold">Beschreibung</span><br><span
                                                    th:text="${appointment.getDescription()}"></span></p>
                                        </div>
                                        <div class="mb-3">
                                            <p><span class="fw-bold">Tag</span><br><span
                                                    th:text="${#temporals.format(startDate.plusDays(i.index), 'dd.MM.YYYY')}"></span>
                                            </p>
                                        </div>
                                        <div class="mb-3">
                                            <p><span class="fw-bold">Startzeit</span><br><span
                                                    th:text="${appointment.getStartTime()}"></span></p>
                                        </div>
                                        <div class="mb-3">
                                            <p><span class="fw-bold">Endzeit</span><br><span
                                                    th:text="${appointment.getEndTime()}"></span></p>
                                        </div>
                                        <div class="mb-3">
                                            <p><span class="fw-bold">Wiederholungen</span><br><span
                                                    th:text="${appointment.getRepetitions()}"></span></p>
                                        </div>
                                        <div class="mb-3" th:if="${appointment.getRoomName() != ''}">
                                            <p><span class="fw-bold">Raum Name</span><br><span
                                                    th:text="${appointment.getRoomName()}"></span></p>
                                        </div>
                                        <div class="mb-3" th:if="${appointment.getAddress != ''}">
                                            <p><span class="fw-bold">Addresse</span><br><span
                                                    th:text="${appointment.getAddress()}"></span></p>
                                        </div>
                                    </div>
                                    <div th:if="${appointment.getAddress() != '' || appointment.getRoomName() != ''}" class="col-8">
                                        <p class="fw-bold">Ort</p>
                                        <iframe class="w-100 locationView" th:address="${appointment.getAddress()}" style="height: 20em"></iframe>
                                        <img class="roomView" th:if="${appointment.getRoomName() != ''}" th:roomName="${appointment.getRoomName()}">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                        Schließen
                                    </button>
                                    <button th:if="${appointment.getSubscribers().size() != 0 && appointment.getSubscribers().get(0).getId() == person.getId()}"
                                            type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#changeDateModal"
                                            th:attr="data-bs-appointment-id=${appointment.getId()},
                                                     data-bs-name=${appointment.getName()},
                                                     data-bs-description=${appointment.getDescription()},
                                                     data-bs-startdate=${appointment.getStartDate()},
                                                     data-bs-starttime=${appointment.getStartTime()},
                                                     data-bs-endtime=${appointment.getEndTime()},
                                                     data-bs-repetitions=${appointment.getRepetitions()},
                                                     data-bs-address=${appointment.getAddress()},
                                                     data-bs-roomname=${appointment.getRoomName()}">Ändern
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/appointmentModals :: appointmentModals"></div>

<div th:replace="fragments/footer :: footer"></div>

<div th:replace="fragments/jsImports :: jsImports"></div>

<script>
    function loadDeleteAppointmentModel(modal) {
        modal.addEventListener('show.bs.modal', function (event) {
            console.log("creating delete appointment modal")
            let appointmentId = event.relatedTarget.getAttribute('data-bs-appointment-id')
            console.log("appointmentid: ", appointmentId);
            let form = modal.querySelector("#deleteAppointmentModalForm");
            form.action = "/deleteAppointment/" + appointmentId
        })
    }

    function loadLocationPreview(modal) {
        let jModal = $(modal);


        let roomImageDiv = jModal.find('.room-image-div');
        let roomImage = jModal.find('.room-image');
        let roomImageMarker = jModal.find('.room-image-marker');


        let locationPreviewIFrame = jModal.find(".location-preview-iframe");
        let triggerLocationPreview = jModal.find('.trigger-location-preview');
        let triggerRoomPreview = jModal.find('.trigger-room-preview');

        let addressInput = jModal.find(".address-input");
        triggerLocationPreview.on('click', () => {
            if (addressInput.val().length >= 3) {
                $.ajax({
                    url: "/getIframeUrl?location=" + addressInput.val(),
                    success: function (data) {
                        locationPreviewIFrame.attr("src", data["iframeUrl"]);
                        if (!roomImageDiv.hasClass("d-none")) {
                            roomImageDiv.addClass("d-none");
                        }
                    }
                })
            }
        })

        let roomNameInput = jModal.find(".room-name-input");
        triggerRoomPreview.on('click', () => {
            if (roomNameInput.val().length >= 3) {
                $.ajax({
                    url: "/getIframeUrl?roomName=" + roomNameInput.val(),
                    success: function (data) {
                        locationPreviewIFrame.attr("src", data["iframeUrl"]);
                        roomNameInput.val(data["roomId"]);
                        if ("roomImageUrl" in data) {
                            if (roomImageDiv.hasClass("d-none")) {
                                roomImageDiv.removeClass("d-none");
                            }
                            roomImage.attr("src", data["roomImageUrl"]);
                            if (roomImageMarker.hasClass("d-none")) {
                                roomImageMarker.removeClass("d-none");
                            }
                            roomImageMarker.css("left", data["markerX"] + "%");
                            roomImageMarker.css("top", data["markerY"] + "%");
                        } else {
                            if (!roomImageDiv.hasClass("d-none")) {
                                roomImageDiv.addClass("d-none");
                            }
                        }
                    }
                })
            }
        })
    }

    function loadChangeAppointmentModel(modal) {
        modal.addEventListener('show.bs.modal', function (event) {
            let name = event.relatedTarget.getAttribute('data-bs-name')
            $("#changeAppointmentModalNameInput").val(name);

            let description = event.relatedTarget.getAttribute('data-bs-description')
            $("#changeAppointmentModalDescriptionInput").val(description);

            let startDate = event.relatedTarget.getAttribute('data-bs-startdate');
            $("#changeAppointmentModalStartDateInput").val(startDate);

            let startTime = event.relatedTarget.getAttribute('data-bs-starttime');
            $("#changeAppointmentModalStartTimeInput").val(startTime);

            let endTime = event.relatedTarget.getAttribute('data-bs-endtime');
            $("#changeAppointmentModalEndTimeInput").val(endTime);

            let repetitions = event.relatedTarget.getAttribute('data-bs-repetitions');
            $("#changeAppointmentModalRepetitionsInput").val(repetitions);

            let address = event.relatedTarget.getAttribute("data-bs-address");
            let addressInput = $(modal).find(".address-input");
            addressInput.val(address);

            let roomName = event.relatedTarget.getAttribute("data-bs-roomname");
            let roomNameInput = $(modal).find(".room-name-input");
            roomNameInput.val(roomName);

            loadLocationPreview(modal);

            addressInput.on('input', () => {
                if (addressInput.val() !== "") {
                    roomNameInput.attr("disabled", "");
                } else {
                    roomNameInput.removeAttr("disabled");
                }
            })

            roomNameInput.on('input', () => {
                if (roomNameInput.val() !== "") {
                    addressInput.attr("disabled", "");
                } else {
                    addressInput.removeAttr("disabled");
                }
            })

            let appointmentId = event.relatedTarget.getAttribute("data-bs-appointment-id");
            let deleteButton = $(modal).find("#changeAppointmentModalDeleteBtn");
            deleteButton.attr("data-bs-appointment-id", appointmentId)
        })
    }

    let deleteAppointmentModal = document.getElementById('deleteAppointmentModal')
    loadDeleteAppointmentModel(deleteAppointmentModal);
    let changeAppointmentModal = document.getElementById('changeDateModal')
    loadChangeAppointmentModel(changeAppointmentModal);
    let createAppointmentModal = document.getElementById('newDateModal')
    loadLocationPreview(createAppointmentModal);
</script>

<script>
    $('.showDateBtn').on('click', (e) => {
        e = $(e.target).parent().parent();
        let locationView = e.find('.locationView');
        let roomView = e.find('.roomView');

        let address = locationView.attr("address");
        let roomName = roomView.attr("roomName");

        setTimeout(() => {
            if (address !== undefined) {
                $.ajax({
                    url: "/getIframeUrl?location=" + address,
                    success: function (data) {
                        locationView.attr("src", data["iframeUrl"]);
                    }
                })
            } else if (roomName !== undefined) {
                $.ajax({
                    url: "/getIframeUrl?roomName=" + roomName,
                    success: function (data) {
                        roomView.attr("src", data["roomImageUrl"]);
                        locationView.attr("src", data["iframeUrl"]);
                    }
                })
            }
        }, 100);
    });
</script>
</body>
</html>
