<!doctype html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tum Social</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>

<header th:replace="fragments/header :: header"></header>

<div th:replace="fragments/notificationSidebar :: notificationSidebar"></div>

<div id="outDiv" class="collapse opacity-50 bg-dark w-100 h-100 position-absolute top-0 start-0" style="z-index: 10000"></div>

<div class="container">
    <h4 class="text-right display-4 mb-4 float-start">Terminkalender</h4>

    <div class="btn-toolbar float-end mt-3" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group" aria-label="First group">
            <a th:href="'/timetable?startDate='+${previousDate}" type="button" class="btn btn-outline-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                </svg>
            </a>
            <button type="button" disabled class="btn btn-outline-secondary"
                    th:text="${#temporals.format(startDate, 'dd.MM.YYYY')}+' - '+${#temporals.format(endDate, 'dd.MM.YYYY')}"></button>
            <a th:href="'/timetable?startDate='+${nextDate}" type="button" class="btn btn-outline-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
            </a>
        </div>
    </div>

    <button type="button" class="btn btn-outline-primary float-end mt-3 me-2" data-bs-toggle="modal"
            data-bs-target="#newDateModal">
        Neuer Termin
    </button>

    <div class="clearfix"></div>

    <div class="row mb-4" th:style="'height: '+${(endTime - startTime + 2) * 2.5 + 2}+'em'">
        <div class="col-1 position-relative">
            <div class="position-absolute border-bottom w-100 text-center p-1" style="height: 4em">
                <br><span class="lead">Zeit</span>
            </div>

            <div th:each="i: ${#numbers.sequence(0, endTime - startTime)}"
                 class="position-absolute bg border-bottom w-100 text-center p-2"
                 th:style="'height: 2.5em; top:'+${(i + 1) * 2.5 + 1.5}+'em;'"
                 th:text="${i + startTime <= -1 || i + startTime >= 24}?'lul u hacker':${#numbers.formatInteger(i + startTime, 2)}+':00'"></div>
        </div>
        <div th:each="day, i: ${daysOfWeek}" class="col position-relative">
            <div class="position-absolute border-bottom border-start-0 w-100 text-center p-1" style="height: 4em">
                <span class="fs-6" th:text="${#temporals.format(startDate.plusDays(i.index), 'dd.MM.YYYY')}"></span>
                <br>
                <span class="lead" th:text="${day}"></span>
            </div>

            <div th:each="i: ${#numbers.sequence(0, endTime - startTime)}" class="position-absolute border-bottom w-100"
                 th:style="'height: 2.5em; top:'+${(i + 1) * 2.5 + 1.5}+'em;'"></div>

            <div class="px-1 position-absolute w-100" th:each="appointment: ${mappedAppointments.get(day)}"
                 th:style="'top: '+${((appointment.getStartTime().getHour() - startTime + 1) + appointment.getStartTime().getMinute() / 60.0) * 2.5 + 1.5}+'em; height: '+
                                   ${(appointment.getDurationInHours()) * 2.5}+'em;'">
                <div class="w-100 border rounded bg-light overflow-hidden p-1 h-100">
                    <span class="fw-bold" th:text="${appointment.getName()}"></span>
                    <span th:text="${appointment.getStartTime()}+' - '+${appointment.getEndTime()}"></span>

                    <a type="button" class="stretched-link showDateBtn" data-bs-toggle="modal"
                       data-bs-target="#timeslotModal"
                       th:attr="data-bs-appointment-id=${appointment.getId()},
                                data-bs-name=${appointment.getName()},
                                data-bs-description=${appointment.getDescription()},
                                data-bs-startdate=${appointment.getStartDate()},
                                data-bs-starttime=${appointment.getStartTime()},
                                data-bs-endtime=${appointment.getEndTime()},
                                data-bs-repetitions=${appointment.getRepetitions()},
                                data-bs-address=${appointment.getAddress()},
                                data-bs-roomname=${appointment.getRoomName()},
                                data-bs-changeable=${appointment.getSubscribers().size() != 0 &&
                                                     appointment.getSubscribers().get(0).getId() == person.getId()}"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/appointmentModals :: appointmentModals"></div>

<div th:replace="fragments/footer :: footer"></div>

<div th:replace="fragments/jsImports :: jsImports"></div>

<script src="/js/appointmentModals.js"></script>

</body>
</html>
