<!doctype html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tum Social</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>

<header th:replace="fragments/header :: header"></header>

<div class="container">
    <h4 class="text-right display-4 mb-4 float-start">Terminkalender</h4>

    <div class="btn-toolbar float-end mt-3" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group" aria-label="First group">
            <a th:href="'/timetable?startDate='+${previousDate}" type="button" class="btn btn-outline-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                </svg>
            </a>
            <button type="button" disabled class="btn btn-outline-secondary"
                    th:text="${#temporals.format(startDate, 'dd.MM.YYYY')}+' - '+${#temporals.format(endDate, 'dd.MM.YYYY')}"></button>
            <a th:href="'/timetable?startDate='+${nextDate}" type="button" class="btn btn-outline-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
            </a>
        </div>
    </div>

    <button type="button" class="btn btn-outline-primary float-end mt-3 me-2" data-bs-toggle="modal"
            data-bs-target="#newDateModal">
        Neuer Termin
    </button>

    <div class="clearfix"></div>

    <div class="row mb-4" th:style="'height: '+${(endTime - startTime + 2) * 2.5 + 2}+'em'">
        <div class="col-1 position-relative">
            <div class="position-absolute border-bottom w-100 text-center p-1" style="height: 4em">
                <br><span class="lead">Zeit</span>
            </div>

            <div th:each="i: ${#numbers.sequence(0, endTime - startTime)}"
                 class="position-absolute bg border-bottom w-100 text-center p-2"
                 th:style="'height: 2.5em; top:'+${(i + 1) * 2.5 + 1.5}+'em;'"
                 th:text="${i + startTime <= -1 || i + startTime >= 24}?'lul u hacker':${#numbers.formatInteger(i + startTime, 2)}+':00'"></div>
        </div>
        <div th:each="day, i: ${daysOfWeek}" class="col position-relative">
            <div class="position-absolute border-bottom border-start-0 w-100 text-center p-1" style="height: 4em">
                <span class="fs-6" th:text="${#temporals.format(startDate.plusDays(i.index), 'dd.MM.YYYY')}"></span>
                <br>
                <span class="lead" th:text="${day}"></span>
            </div>

            <div th:each="i: ${#numbers.sequence(0, endTime - startTime)}" class="position-absolute border-bottom w-100"
                 th:style="'height: 2.5em; top:'+${(i + 1) * 2.5 + 1.5}+'em;'"></div>

            <div class="px-1 position-absolute w-100" th:each="appointment: ${mappedAppointments.get(day)}"
                 th:style="'top: '+${((appointment.getStartTime().getHour() - startTime + 1) + appointment.getStartTime().getMinute() / 60.0) * 2.5 + 1.5}+'em; height: '+
                                   ${(appointment.getDurationInHours()) * 2.5}+'em;'">
                <div class="w-100 border rounded bg-light overflow-hidden p-1 h-100">
                    <span class="fw-bold" th:text="${appointment.getName()}"></span>
                    <span th:text="${appointment.getStartTime()}+' - '+${appointment.getEndTime()}"></span>

                    <a type="button" class="stretched-link showDateBtn" data-bs-toggle="modal"
                       th:data-bs-target="'#timeslotModal'+${appointment.getId()}"></a>

                    <div th:class="${appointment.getAddress() == '' && appointment.getRoomName() == ''}?'modal fade':'modal fade modal-lg'"
                         th:id="'timeslotModal'+${appointment.getId()}" tabindex="-1"
                         th:aria-labelledby="'timeslotModalLabel'+${appointment.getId()}"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"
                                        th:aria-labelledby="'timeslotModalLabel'+${appointment.getId()}">Termin</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body row">
                                    <div th:class="${appointment.getAddress() == '' && appointment.getRoomName() == ''}?'':'col-4'">
                                        <div class="mb-3">
                                            <p><span class="fw-bold">Name</span><br><span
                                                    th:text="${appointment.getName()}"></span></p>
                                        </div>
                                        <div class="mb-3">
                                            <p><span class="fw-bold">Beschreibung</span><br><span
                                                    th:text="${appointment.getDescription()}"></span></p>
                                        </div>
                                        <div class="mb-3">
                                            <p><span class="fw-bold">Tag</span><br><span
                                                    th:text="${#temporals.format(startDate.plusDays(i.index), 'dd.MM.YYYY')}"></span>
                                            </p>
                                        </div>
                                        <div class="mb-3">
                                            <p><span class="fw-bold">Startzeit</span><br><span
                                                    th:text="${appointment.getStartTime()}"></span></p>
                                        </div>
                                        <div class="mb-3">
                                            <p><span class="fw-bold">Endzeit</span><br><span
                                                    th:text="${appointment.getEndTime()}"></span></p>
                                        </div>
                                        <div class="mb-3">
                                            <p><span class="fw-bold">Wiederholungen</span><br><span
                                                    th:text="${appointment.getRepetitions()}"></span></p>
                                        </div>
                                        <div class="mb-3" th:if="${appointment.getRoomName() != ''}">
                                            <p><span class="fw-bold">Raum Name</span><br><span
                                                    th:text="${appointment.getRoomName()}"></span></p>
                                        </div>
                                        <div class="mb-3" th:if="${appointment.getAddress != ''}">
                                            <p><span class="fw-bold">Addresse</span><br><span
                                                    th:text="${appointment.getAddress()}"></span></p>
                                        </div>
                                    </div>
                                    <div th:if="${appointment.getAddress() != '' || appointment.getRoomName() != ''}" class="col-8">
                                        <p class="fw-bold">Ort</p>
                                        <iframe class="w-100 locationView" th:address="${appointment.getAddress()}" style="height: 20em"></iframe>
                                        <img class="roomView" th:if="${appointment.getRoomName() != ''}" th:roomName="${appointment.getRoomName()}">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                        Schließen
                                    </button>
                                    <button th:if="${appointment.getSubscribers().size() != 0 && appointment.getSubscribers().get(0).getId() == person.getId()}"
                                            type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            th:data-bs-target="'#changeDateModal'+${appointment.getId()}">Ändern
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade modal-lg" th:id="'changeDateModal'+${appointment.getId()}" tabindex="-1"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form th:action="'/updateAppointment/'+${appointment.getId()}" method="post">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Termin bearbeiten</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>

                                    <div class="modal-body row">
                                        <div class="col-4">
                                            <div class="mb-3">
                                                <label class="form-label">Name</label>
                                                <input type="text" class="form-control"
                                                       th:value="${appointment.getName()}"
                                                       name="name" required>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Beschreibung</label>
                                                <textarea class="form-control" rows="3"
                                                          name="description"
                                                          th:text="${appointment.getDescription()}"></textarea>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Tag</label>
                                                <input name="startDate" type="date"
                                                       th:value="${appointment.getStartDate()}"
                                                       class="form-control" required>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Startzeit</label>
                                                <input name="startTime" type="time"
                                                       th:value="${appointment.getStartTime()}"
                                                       class="form-control" required>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Endzeit</label>
                                                <input name="endTime" type="time" th:value="${appointment.getEndTime()}"
                                                       class="form-control" required>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Wiederholungen</label>
                                                <input name="repetitions" type="number"
                                                       th:value="${appointment.getRepetitions()}" min="0"
                                                       class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <div class="mb-3">
                                                <label class="form-label">Adresse oder Ortsbeschreibung</label>
                                                <div class="input-group mb-3">
                                                    <input type="text" class="form-control" name="address"
                                                           th:id="'addressInput'+${appointment.getId()}"
                                                           th:value="${appointment.getAddress()}"
                                                           th:attrappend="disabled=${appointment.getAddress() == '' && appointment.getRoomName() != ''}?@{true}">
                                                    <button class="btn btn-outline-secondary" type="button"
                                                            th:id="'triggerLocationPreview'+${appointment.getId()}">
                                                        Vorschau
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Raum Nummer/Name</label>
                                                <div class="input-group mb-3">
                                                    <input type="text" class="form-control" name="roomName"
                                                           th:id="'roomNameInput'+${appointment.getId()}"
                                                           th:value="${appointment.getRoomName()}"
                                                           th:attrappend="disabled=${appointment.getRoomName() == '' && appointment.getAddress != ''}?@{true}">
                                                    <button class="btn btn-outline-secondary" type="button"
                                                            th:id="'triggerRoomPreview'+${appointment.getId()}">
                                                        Vorschau
                                                    </button>
                                                </div>
                                            </div>
                                            <iframe class="w-100 mb-3" style="height: 25em" th:id="'locationPreview'+${appointment.getId()}"
                                                    src="https://www.openstreetmap.org/export/embed.html">
                                            </iframe>
                                            <div class="position-relative w-100 d-none" th:id="'roomImageDiv'+${appointment.getId()}">
                                                <img class="w-100" th:id="'roomImage'+${appointment.getId()}">
                                                <div class="spinner-grow position-absolute translate-middle text-danger spinner-grow-sm"
                                                     role="status"
                                                     th:id="'roomImageMarker'+${appointment.getId()}"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Abbrechen
                                        </button>
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                                th:data-bs-target="'#deleteAppointmentModal'+${appointment.getId()}">
                                            Löschen
                                        </button>
                                        <button type="submit" class="btn btn-primary">Speichern</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" th:id="'deleteAppointmentModal'+${appointment.getId()}" tabindex="-1"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Termin Löschen</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen
                                    </button>
                                    <form th:action="'/deleteAppointment/'+${appointment.getId()}" method="post">
                                        <button type="submit" class="btn btn-danger">Löschen</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-lg" id="newDateModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/createAppointment" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title">Neuer Termin</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body row">
                        <div class="col-4">
                            <div class="mb-3">
                                <label for="nameLabel" class="form-label">Name</label>
                                <input type="text" class="form-control" id="nameLabel" name="name" required>
                            </div>
                            <div class="mb-3">
                                <label for="descriptionLabel" class="form-label">Beschreibung</label>
                                <textarea class="form-control" id="descriptionLabel" rows="3"
                                          name="description"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="startDate" class="form-label">Tag</label>
                                <input name="startDate" type="date" id="startDate" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label for="startTime" class="form-label">Startzeit</label>
                                <input name="startTime" type="time" id="startTime" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label for="endTime" class="form-label">Endzeit</label>
                                <input name="endTime" type="time" id="endTime" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label for="repetitions" class="form-label">Wiederholungen</label>
                                <input name="repetitions" type="number" value="1" min="1" id="repetitions"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="mb-3">
                                <label class="form-label">Adresse oder Ortsbeschreibung</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name="address" id="addressInput">
                                    <button class="btn btn-outline-secondary" type="button" id="triggerLocationPreview">
                                        Vorschau
                                    </button>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Raum Nummer/Name</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name="roomName" id="roomNameInput">
                                    <button class="btn btn-outline-secondary" type="button" id="triggerRoomPreview">
                                        Vorschau
                                    </button>
                                </div>
                            </div>
                            <iframe class="w-100 mb-3" style="height: 25em" id="locationPreview"
                                    src="https://www.openstreetmap.org/export/embed.html">
                            </iframe>
                            <div class="position-relative w-100 d-none" id="roomImageDiv">
                                <img class="w-100" id="roomImage">
                                <div class="spinner-grow position-absolute translate-middle text-danger spinner-grow-sm"
                                     role="status" id="roomImageMarker"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                        <button type="submit" class="btn btn-primary">Speichern</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<div th:replace="fragments/footer :: footer"></div>

<div th:replace="fragments/jsImports :: jsImports"></div>

<script>
    function locationPreview(addressInput, roomNameInput, locationPreview, triggerLocationPreview, triggerRoomPreview, roomImageDiv, roomImage, roomImageMarker) {
        triggerLocationPreview.on('click', () => {
            if (addressInput.val().length >= 3) {
                $.ajax({
                    url: "/getIframeUrl?location=" + addressInput.val(),
                    success: function (data) {
                        locationPreview.attr("src", data["iframeUrl"]);
                        if (!roomImageDiv.hasClass("d-none")) {
                            roomImageDiv.addClass("d-none");
                        }
                    }
                })
            }
        })

        triggerRoomPreview.on('click', () => {
            if (roomNameInput.val().length >= 3) {
                $.ajax({
                    url: "/getIframeUrl?roomName=" + roomNameInput.val(),
                    success: function (data) {
                        locationPreview.attr("src", data["iframeUrl"]);
                        roomNameInput.val(data["roomId"]);
                        if ("roomImageUrl" in data) {
                            if (roomImageDiv.hasClass("d-none")) {
                                roomImageDiv.removeClass("d-none");
                            }
                            roomImage.attr("src", data["roomImageUrl"]);
                            if (roomImageMarker.hasClass("d-none")) {
                                roomImageMarker.removeClass("d-none");
                            }
                            roomImageMarker.css("left", data["markerX"] + "%");
                            roomImageMarker.css("top", data["markerY"] + "%");
                        } else {
                            if (!roomImageDiv.hasClass("d-none")) {
                                roomImageDiv.addClass("d-none");
                            }
                        }
                    }
                })
            }
        })

        addressInput.on('input', () => {
            if (addressInput.val() !== "") {
                roomNameInput.attr("disabled", "");
            } else {
                roomNameInput.removeAttr("disabled");
            }
        })

        roomNameInput.on('input', () => {
            if (roomNameInput.val() !== "") {
                addressInput.attr("disabled", "");
            } else {
                addressInput.removeAttr("disabled");
            }
        })
    }

    locationPreview(
        $('#addressInput'),
        $('#roomNameInput'),
        $('#locationPreview'),
        $('#triggerLocationPreview'),
        $('#triggerRoomPreview'),
        $('#roomImageDiv'),
        $('#roomImage'),
        $('#roomImageMarker')
    );

    $('.showDateBtn').on('click', (e) => {
        e = $(e.target).parent().parent();
        let locationView = e.find('.locationView');
        let roomView = e.find('.roomView');

        let address = locationView.attr("address");
        let roomName = roomView.attr("roomName");

        setTimeout(() => {
            if (address !== undefined) {
                $.ajax({
                    url: "/getIframeUrl?location=" + address,
                    success: function (data) {
                        locationView.attr("src", data["iframeUrl"]);
                    }
                })
            } else if (roomName !== undefined) {
                $.ajax({
                    url: "/getIframeUrl?roomName=" + roomName,
                    success: function (data) {
                        roomView.attr("src", data["roomImageUrl"]);
                        locationView.attr("src", data["iframeUrl"]);
                    }
                })
            }
        }, 100);
    });
</script>
<div th:each="day: ${mappedAppointments.keySet()}">
    <script th:inline="text" th:each="appointment: ${mappedAppointments.get(day)}">
        locationPreview(
            $('#addressInput[[${appointment.getId()}]]'),
            $('#roomNameInput[[${appointment.getId()}]]'),
            $('#locationPreview[[${appointment.getId()}]]'),
            $('#triggerLocationPreview[[${appointment.getId()}]]'),
            $('#triggerRoomPreview[[${appointment.getId()}]]'),
            $('#roomImageDiv[[${appointment.getId()}]]'),
            $('#roomImage[[${appointment.getId()}]]'),
            $('#roomImageMarker[[${appointment.getId()}]]')
        );
    </script>
</div>
</body>
</html>
